<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        body {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            background-color: #f4f6f8;
            margin: 0;
            padding: 0;
            color: #333;
        }

        .container {
            width: 80%;
            margin: 40px auto;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
            border: 1px solid #e0e0e0;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #e0e0e0;
        }

        .header .title {
            font-size: 22px;
            font-weight: bold;
            margin: 0;
            color: #4a4a4a;
        }

        .header img {
            width: 160px;
            height: auto;
        }

        .print-button {
            display: block;
            margin: 20px 0;
            text-align: center;
        }

        .print-button button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .print-button button:hover {
            background-color: #0056b3;
        }

        .ship-details {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            padding-bottom: 20px;
        }

        .ship-details div {
            width: 48%;
            font-size: 15px;
        }

        .separator {
            border-top: 1px dashed #ccc;
            margin: 20px 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 30px;
            font-size: 14px;
            background-color: #f9f9f9;
        }

        table,
        th,
        td {
            border: 1px solid #e0e0e0;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f4f6f8;
            font-weight: bold;
            color: #4a4a4a;
        }

        tr:hover {
            background-color: #e9f4ff;
        }

        .summary-column {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            font-weight: bold;
            color: #333;
        }

        .order-details-separator {
            border-top: 1px solid #e0e0e0;
            margin: 5px 0;
        }

        .footer {
            font-size: 14px;
            margin-top: 20px;
            text-align: center;
            color: #777;
        }

        .footer a {
            color: #007bff;
            text-decoration: none;
        }

        .footer a:hover {
            text-decoration: underline;
        }

        .order-summary {
            display: flex;
            justify-content: space-between;
        }

        .order-summary .column {
            width: 48%;
        }

        .totals-box {
            border: 1px solid #e0e0e0;
            padding: 15px;
            margin-top: 20px;
            background-color: #f8f9fa;
            border-radius: 8px;
            font-size: 16px;
            color: #333;
        }

        .totals-box .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
        }

        @media print {
            * {
                box-sizing: border-box;
            }

            body {
                margin: 0;
                padding: 0;
                background: #fff;
                font-size: 12px;
            }

            .container {
                width: 100%;
                margin: 0;
                padding: 10px;
                border-radius: 0;
                box-shadow: none;
            }

            .header {
                padding-bottom: 10px;
            }

            .print-button {
                display: none;
            }

            .ship-details div {
                width: 48%;
                font-size: 12px;
            }

            .footer {
                margin-top: 10px;
                font-size: 12px;
            }

            table,
            th,
            td {
                font-size: 12px;
                padding: 5px;
            }

            .totals-box {
                font-size: 14px;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <!-- <p class="title">Packing & Delivery Slip</p> -->
            <img src="<%= shopLogo%>" alt="Logo">
        </div>


        <div class="ship-details">
            <% if(orderDetails.shippingAddress) { %>
                <div>
                    <strong>Ship to:</strong><br>
                    <%= orderDetails.shippingAddress.name %><br>
                        <%= orderDetails.shippingAddress.address1 %>,<br>
                            <%= orderDetails.shippingAddress.city %>, <%= orderDetails.shippingAddress.state %>, <%=
                                        orderDetails.shippingAddress.country %><br>
                                        Phone: <%= orderDetails.shippingAddress.phoneNumber %>
                </div>
                <% } %>

                    <% if(orderDetails.pickupFromStore && Object.keys(orderDetails.pickupFromStore).length> 0) { %>
                        <div>
                            <strong>Pickup store address:</strong>

                            <%= orderDetails.pickupFromStore.storeTitle %><br>
                                <%= orderDetails.pickupFromStore.storeAddress %>,<br>
                                    <!-- <%= orderDetails.pickupFromStore.city %>, <%= orderDetails.pickupFromStore.state %>,-->
                                    Email -<%= orderDetails.pickupFromStore.storeEmail %><br>
                                        Phone No. - <%= orderDetails.pickupFromStore.storePhone %>
                        </div>
                        <% } %>
        </div>

        <div class="separator"></div>

        <p><strong>Order ID:</strong>
            <b>
                <%= orderDetails.orderId %>
            </b><br>Thank you for buying from <%= shopName %>.
        </p>

        <div class="order-summary">
            <div class="column">
                <table>
                    <tr>
                        <th>Billing Address</th>
                    </tr>
                    <% if (orderDetails.billingAddress && orderDetails.billingAddress.name) { %>
                        <tr>
                            <td>
                                <%= orderDetails.billingAddress.name %><br>
                                    <%= orderDetails.billingAddress.address1 %>,<br>
                                        <%= orderDetails.billingAddress.city %>, <%= orderDetails.billingAddress.state
                                                %>, <%= orderDetails.billingAddress.country %><br>
                                                    Phone: <%= orderDetails.billingAddress.phoneNumber %>
                            </td>
                        </tr>
                        <% } else { %>
                            <tr>
                                <td>
                                    <% if(orderDetails.shippingAddress!=null) { %>
                                        <%= orderDetails.shippingAddress.name %><br>
                                            <%= orderDetails.shippingAddress.address1 %>,<br>
                                                <%= orderDetails.shippingAddress.city %>, <%=
                                                        orderDetails.shippingAddress.state %>, <%=
                                                            orderDetails.shippingAddress.country %><br>
                                                            Phone: <%= orderDetails.billingAddress.phoneNumber %>
                                                                <% } %>
                                </td>
                            </tr>
                            <% } %>
                </table>
            </div>
            <div class="column">
                <table>
                    <tr>
                        <th>Order Details</th>
                    </tr>
                    <tr>
                        <td>
                            <strong>Order Date:</strong>
                            <%= new Date(orderDetails.orderStatusAt).toLocaleString() %>
                                                        <!-- <div class="order-details-separator"></div> -->
                                <!-- <strong>Shipping Service:</strong> Standard -->
                                <div class="order-details-separator"></div>
                                <strong>Payment Method:</strong>
                                <%= orderDetails.paymentMethod.paymentMethodTitle %>
                                    <div class="order-details-separator"></div>
                                    <strong>Buyer Name:</strong>
                                    <%= orderDetails.customer.firstName %>
                                        <div class="order-details-separator"></div>
                                        <strong>Seller Name:</strong>
                                        <%= shopName %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>SL NO</th>
                    <th>Product Details</th>
                    <th>Image</th>
                    <th>Attributes</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Sale Price</th>
                    <th>Order Totals</th>
                </tr>
            </thead>
            <tbody>
                <% orderDetails.products.forEach((product, index)=> { %>
                    <tr>
                        <td>
                            <%= index + 1 %>

                        </td>
                        <td>
                            <% if (product.productDetails.variantDetails.extraProductTitle &&
                                product.productDetails.variantDetails.extraProductTitle !=='' ) { %>
                                <%= product.productDetails.variantDetails.extraProductTitle %>
                                    <% } else { %>
                                        <%= product.productDetails.productTitle %>
                                            <% } %><br>SKU: <%= product.productDetails.variantDetails.variantSku %><br>
                        </td>
                        <td>
                            <img src="<% if (product.productDetails.variantDetails.variantImageUrl && product.productDetails.variantDetails.variantImageUrl !=='' ) { %>
                                         <%= apiAppUrl%><%= product.productDetails.variantDetails.variantImageUrl %>
                                       <% } else { %>
                                         <%= apiAppUrl%><%= product.productDetails.productImageUrl %>
                                       <% } %>"
                                 class="product-img" alt="Product Image" crossorigin="anonymous"
                                 style="width: 75px; height: 75px;">
                          </td>
                        <td>
                            <% if (product.productDetails.variantDetails.productVariantAttributes.length> 0) { %>
                                <% product.productDetails.variantDetails.productVariantAttributes.forEach(function(attribute)
                                    { %>
                                    <p><strong>
                                            <%= attribute.attributeTitle %>:
                                        </strong>
                                        <%= attribute.attributeDetail.itemName %>
                                    </p>
                                    <% }) %>
                                        <% } %>

                        </td>
                        <td>
                            <%= product.quantity %>
                                <!-- <% if (product.productDetails.unit> 0) { %>-<%= product.productDetails.unit %>
                                        <% } %> -->
                        </td>
                        <td>
                            <%=currencyCode %>
                                <%= product.productOriginalPrice.toFixed(2) / product.quantity %>
                        </td>
                        <td>
                            <%=currencyCode %>
                                <%= product.productAmount.toFixed(2)/ product.quantity %>
                        </td>
                        <td>
                            <div class="summary-column">
                                <div>Item subtotal:</div>
                                <div>
                                    <%=currencyCode %>
                                        <%= product.productAmount.toFixed(2) %>
                                </div>
                                <!-- <div>Tax:</div><div>AED 0</div> -->
                                <div>Refund:</div>
                                <% if(product.returnedProductAmount>0) { %>
                                    <div>
                                        <%=currencyCode %>
                                            <%= product.returnedProductAmount.toFixed(2) %>
                                    </div>

                                    <% } else { %>
                                        <div>-</div>
                                        <% } %>
                                            <div>Item Total:</div>
                                            <div>
                                                <%=currencyCode %>
                                                    <%= product.productAmount.toFixed(2)-product.returnedProductAmount.toFixed(2)
                                                        %>
                                            </div>
                            </div>
                        </td>
                    </tr>
                    <% }); %>

            </tbody>
        </table>

        <div class="totals-box">
            <% if (orderDetails.totalGiftWrapAmount> 0) { %>
                <div class="row">
                    <div>Gift Wrap Charge</div>
                    <div>
                        <%=currencyCode %> <%= orderDetails.totalGiftWrapAmount.toFixed(2) %>
                    </div>
                </div>
                <% } %>
                    <% if (orderDetails.totalCouponAmount> 0) { %>
                        <div class="row">
                            <div>Coupon</div>
                            <div>
                                <%=currencyCode %> <%= orderDetails.totalCouponAmount.toFixed(2) %>
                            </div>
                        </div>
                        <% } %>
                            <% if (orderDetails.paymentMethodCharge> 0) { %>
                                <div class="row">
                                    <div>COD Charges</div>
                                    <div>
                                        <%=currencyCode %> <%= orderDetails.paymentMethodCharge.toFixed(2) %>
                                    </div>
                                </div>
                                <% } %>
                                <% if (orderDetails.totalShippingAmount> 0) { %>
                                        <div class="row">
                                            <div>Delivery Charges</div>
                                            <div>
                                                <%=currencyCode %>
                                                    <%= orderDetails.totalShippingAmount.toFixed(2) %>
                                            </div>
                                        </div>
                                        <% } %>

                                            <div class="row">
                                                <div><strong>Grand Total</strong></div>
                                                <div>
                                                    <strong>
                                                        <%= currencyCode %>
                                                        <%= (parseFloat(orderDetails.totalAmount.toFixed(2)) - parseFloat(orderDetails.totalReturnedProductAmount.toFixed(2))).toFixed(2) %>
                                                    </strong>
                                                </div>
                                            </div>
        </div>

        <div class="footer">
            <p>Thanks for buying on <%= shopName %>. To provide feedback for the seller, please visit <a
                        href="<%= storeEmail %>">
                        <%= storeEmail %>
                    </a>. To contact the seller, go to your
                    orders in your account. Click the seller's name under the appropriate product, then in the "Further
                    Information" section, click "Contact the Seller".</p>
        </div>
    </div>

</body>

</html>